body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #15202B;
}

.login-container {
  background-image: url('tu-imagen.jpg'); /* imagen de fondo*/
  background-size: cover;
  background-position: center;
  background-color: #acd3e6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 320px;
  text-align: center;
}

.login-container h2 {
  color: #37474F;
}

.login-container input {
  width: 70%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #90A4AE;
  border-radius: 5px;
}

.login-container button {
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-container button:hover {
  background-color: #1976D2;
}

.registro-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.registro-link:hover {
  background-color: #2980b9;
}




